* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }
  body{
    background:whitesmoke;
}


  .frist-border {
    position: relative;
    border: 1 solid;
    width: 94%;
    height: 90vh;
    border-radius: 15px;
    margin: 40px;
    background-color: #EEE8AA;
  }

  .frist-border h3 {
    margin: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;

  }

  .list ul {
    list-style-type: none;
    padding-left: 10px;
  }

  .list ul li {
    width: 200px;
    height: 35px;
    margin: 10px;
  }

  .list ul li span {
    vertical-align: text-bottom;
    color: rgb(132, 133, 139);

  }

  .list ul li a {
    text-decoration: none;
    margin-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;

    
    
  }

 /* unvisited link */
 .list ul li a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  .list ul li a:visited {
    color: black;
    text-decoration: none;
    
  }
  
  /* mouse over link */
  .list ul li a:hover {
    color: black;
    text-decoration: none;
  }
  
  /* selected link */
  .list ul li a:active {
    background-color: rgb(80, 200, 120);
    width: 135px;
    border-radius: 5px;
    text-decoration: none;
  }

  .list ul li:hover {
    background-color: rgb(80, 200, 120);
    width: 135px;
    border-radius: 5px;
    
  }

  .active{
    background-color:  rgb(80, 200, 120);;
    width: 150px;
    border-radius: 5px;
    align-items: center;
  }

  .logout {
    position: absolute;
    padding-left: 28px;

  }

  .border-inside {
    position: absolute;
    width: 50%;
    height: 84%;
    background-color: white;
    left: 257px;
    bottom: 42px;
    border-radius: 15px;
    
  }

  
  